body {
	background-color: #1ebbbe70;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.img {
	margin: 40px 0px;
}

.head {
	background-color: orange;
	position: fixed;
	width: 100%;
}

.logo {
	width: 4%;
}

.log {
	color: black;
}

.mylogo {
	float: left;
	margin: 13px;
	margin-left: 30px;
}

.menu {
	width: 40px;
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}